
.homework {
    border: 2px solid black;
    width: 700px;
    height: 150px;
    border-collapse: collapse;
    background-color: aqua;
    text-decoration: underline;
}

.homework td{
    border: 1px solid black;
    font-size: large;
}